:root{
  --coffee: #704E2E;
  --oak: #79745C;
  --tea: #E6F8B2;
  --jasmine: #CDE77F;
  --herb: #709176;

  color:var(--herb)
}

*::before, *::after{
  box-sizing: border-box;
}

body{
  margin:0;
}

.page{
  display: flex;
  flex:auto;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}

.header, .footer {
  text-align: center;
  background-color: var(--jasmine);
}

.side{
  width:15%;
  padding-right:5%;
  background-color: var(--herb);
}

.content{
  box-sizing: border-box;
  width:80%;
  padding-right:3%;
  display:flex;
  flex:auto;
  background-color: var(--herb);
}

.main{
  box-sizing: border-box;
  width:100vw;
  color: var(--jasmine);
  display: flex;
  flex:auto;
  flex-wrap: auto;
}

.create {
  background: none;
  border: none;
}

.button-today,
.button-schedule,
.button-project,
.button-tag,
.button-finished{
  background:none;
  border:none;
  cursor:pointer;
}

.todo-list{
  display: flex;
  flex:auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  border:1px solid var(--jasmine);
  padding:20px;
  border-radius: 20px;
}

#add{
  background:none;
  border:none;
  color: var(--jasmine);
  cursor:pointer;
}

form{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  white-space: pre-line;
}

form>div{
  display:flex;
  gap:10px;
}

input{
  width:110px;
  height:15px;
  margin:0;
  padding:0;
  border:none;
  border-radius: 2px;
}

.priority{
  width:50px;
  display: flex;
}

fieldset{
  padding:0;
  border-radius: 10px;
}

.delete-button{
  background:none;
  border:none;
  color:var(--jasmine);
  cursor:pointer;
}

.add-list{
  background:none;
  border:1px solid var(--coffee);
  color:var(--jasmine);
  cursor:pointer
}

.task{
  color:black;
  gap:5px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 5px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.remove{
  border:none;
  background-color: none;
  background:none;
  color:var(--coffee);
}

#submit{
  max-width: 50px;
  background-color: var(--oak);
  color: var(--jasmine);
  border:none;
  border-radius: 4px;
}