@font-face {
  font-family: "organical";
  src:url('../assets/font/ORGANICAL PERSONAL USE.ttf') format('truetype');
}


:root{
  --coffee: #704E2E;
  --oak: #79745C;
  --tea: #E6F8B2;
  --jasmine: #CDE77F;
  --herb: #709176;

  color:var(--herb);
}

*::before, *::after{
  box-sizing: border-box;
}

body{
  margin:0;
}

.page{
  display: flex;
  flex:auto;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
}

.title{
  font-family: "organical";
  color:var(--herb);
  font-size: 2rem;
  margin:0;
  padding:0;
}

h1{
  margin:0 0 10px;
}

.header, .footer {
  text-align: center;
  background-color: var(--jasmine);
}

.main{
  display: flex;
  flex:auto;
  flex-wrap: auto;
  box-sizing: border-box;
  width:100vw;
  color: var(--jasmine);
  background-color: var(--herb);
}

.dropdown-menu>button{
  display:flex;
  flex-direction: column;
  border:none;
  background:none;
  cursor: pointer;
}

.content{
  position:relative;
}

.popup-list{
  opacity:0%;
  position:fixed;
}

.popup-list .show{
  opacity:100%;
}

.create {
  background: none;
  border: none;
}

.button-today,
.button-schedule,
.button-project,
.button-tag,
.button-finished{
  background:none;
  border:none;
  cursor:pointer;
}

.todo-list{
  display: flex;
  flex:auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: fit-content;
  border:1px solid var(--jasmine);
  padding:20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#add{
  background:none;
  border:none;
  color: var(--jasmine);
  cursor:pointer;
}

form{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  white-space: pre-line;
}

form>div{
  display:flex;
  gap:10px;
}

input{
  width:110px;
  height:15px;
  margin:0;
  padding:0;
  border:none;
  border-radius: 2px;
}

.priority{
  width:50px;
  display: flex;
}

fieldset{
  padding:0;
  border-radius: 10px;
}

.delete-button{
  background:none;
  border:none;
  color:var(--jasmine);
  cursor:pointer;
}

.add-list{
  background:none;
  color:var(--jasmine);
  border:none;
  cursor:pointer
}

.folder, .task{
  width: fit-content;
  color:black;
  gap:5px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.remove{
  border:none;
  background-color: none;
  background:none;
  color:var(--coffee);
}

#submit{
  max-width: 50px;
  background-color: var(--oak);
  color: var(--jasmine);
  border:none;
  border-radius: 4px;
}

.folder{
  width:100px;
  height:75px;
  cursor: pointer;
}

textarea{
  width:80%;
  height:100%;
  border:none;
  border-radius:10px
}

.project{
  color:black;
  max-width: 120px;
  padding:5px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.533);
  cursor:pointer;
}